:root {
    --main-color-1: #172544;
    --main-color-2: #445a99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header  header  "
        "sidebar content "
        "footer  footer  ";
}

header {
    background-color: var(--main-color-1);
    grid-area: header;
}

.sidebar {
    background-color: var(--main-color-2);
    grid-area: sidebar;
}

.filters, .projects-container, .projects {
    display: flex;
    flex-direction: column;
}

.sidebar-btn, .project-btn, #add-todo-btn {
    cursor: pointer;
    padding: 4px 0;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    margin: 4px 0;
}

.sidebar-btn, #add-todo-btn {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    gap: 6px 8px;
}

.project-btn {
    text-align: left;
    padding: 8px 16px;
}

.sidebar-btn:hover, .project-btn:hover, #add-todo-btn:hover {
    background-color: #b6daff;
}

.selected {
    background-color: #b6daff;
    font-weight: bold;
}

svg {
    width: 25px;
    fill: var(--main-color-1);
}

.projects-container, .filters {
    margin: 16px 12px;
}

.project-name-input {
    border-radius: 8px;
    border: none;
    padding: 4px;
}

.project-name-input:focus {
    outline: blue solid 2px;
}

.content {
    background-color: #8b99fa;
    grid-area: content;
}

.footer {
    background-color: var(--main-color-1);
    grid-area: footer;
}

.todo-container {
    position: relative;
    margin: 12px;
    border-radius: 8px;
    gap: 12px;
    height: 50px;
    overflow: hidden;
}

.todo-container:hover {
    height: 100%;
    overflow: visible;
}

.relevant-info-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    height: 100%;
}

.description-container {
    background-color: #f6efed;
    padding: 8px 12px;
    border-radius: 8px;
    z-index: 2;
}

.todo-title, .todo-due-date {
    flex: 2;
}

.todo-priority {
    flex: 1;
}

.todo-priority {
    border: 2px solid black;
    border-radius: 4px;
}

.todo-priority.low {
    background-color: #20dbc0;

}
.todo-priority.medium {
    background-color: #ffc655;
}

.todo-priority.high {
    background-color: #e31746;
}

.todo-description::before {
    content: 'Description: ';
    font-weight: bold;
}

.todo-edit-btn, .todo-delete-btn {
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.todo-edit-btn svg, .todo-delete-btn svg {
    fill: black;
}

.todo-edit-btn {
    background-color: yellow;
}
.todo-delete-btn {
    background-color: red;
}

#add-todo-form {
    display: grid;
    padding: 24px;
    border-radius: 8px;
    background-color: #96f48b;
    justify-items: center;
}

.add-todo-form-btns-container {
    display: flex;
    justify-self: normal;
}

.add-todo-form-btns-container > button {
    flex: 1;
    padding: 8px 16px;
}

#edit-todo-form {
    z-index: 2;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fffa75;
    display: grid;
    justify-items: center;
    padding: 24px;
    border-radius: 8px;
}

:disabled {
    opacity: 0.7;
}